@import 'styles/_colors';

.OrderSpa {
  border: 1rem double $black;
  background: $white;
  transition: all 0.3s;
  box-shadow: 10px 10px 5px gray;
  overflow: scroll;
  padding-top: 15px;
  height: 80vh;

  .new-button {
    margin-bottom: 20px;
  }

  .order-button {
    text-transform: initial;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}