@import 'styles/_colors';

.Inventory {
  border: 1rem double $black;
  background: $white;
  transition: all 0.3s;
  box-shadow: 10px 10px 5px gray;
  overflow: scroll;
  height: 80vh;
  padding-top: 15px;
}